.careers-container {

  a{

    &.position {
    box-shadow: 0 31px 40px 0 rgba(36,67,161,0.08);
    width: 48%;
    margin: 20px 1.5%;
    background: #ffffff;
    padding: 10px;
    text-decoration: none;
    }


    &.position {

      .title {
        margin: 15px 0 10px 0;
      }

      .additional  {
        float: left;

    }

      .location {
        float: right;
      }
    }

  }

}