// Colors
$white: #fff;
$grey_1: #FAFAFA;
$grey_2: #F5F5F5;
$grey_3: #EEEEEE;
$grey_4: #E0E0E0;
$grey_5: #BDBDBD;
$grey_6: #9E9E9E;
$grey_7: #757575;
$grey_8: #616161;
$grey_9: #424242;
$grey_10: #212121;
$black: #000;

// Brand Colors
$brand_colors: (
	'blue'	: #05306F,
	'grey'	: $grey_1,
);
@import "../modules/brand-color";

$facebook: #3B5998;
$twitter: #00B6F1;
$pinterest: #CB2027;

$base-color: $grey_9;
$highlight: brand-color( 'blue' );
$border-color: $grey_4;


// Fonts

@font-face{
	font-family:"Meta Offc W01 Medium Italic";
	src:url("../fonts/60f26cc8-ebd7-46d2-ad1f-fbe86fed2c84.eot?#iefix");
	src:url("../fonts/60f26cc8-ebd7-46d2-ad1f-fbe86fed2c84.eot?#iefix") format("eot"),url("../fonts/594a060d-cd6c-402d-97ae-fb69367ccc43.woff2") format("woff2"),url("../fonts/a4b07e89-40a3-4ea0-b913-182c78d70710.woff") format("woff"),url("../fonts/1377936/a2ceefa7-5224-4fac-9b6a-16e7738d99a6.ttf") format("truetype");
}
@font-face{
	font-family:"Meta Offc W01 Normal";
	src:url("../fonts/ff7aa537-8e40-4f5e-9c8f-c5bd078c58db.eot?#iefix");
	src:url("../fonts/ff7aa537-8e40-4f5e-9c8f-c5bd078c58db.eot?#iefix") format("eot"),url("../fonts/4ce43a49-0d61-4c34-8054-465d5981fd0b.woff2") format("woff2"),url("../d7b73a86-9fc7-41b4-a367-cbbd20039787.woff") format("woff"),url("../fonts/7fc1eb11-127b-4452-9067-a7e4b1b321d6.ttf") format("truetype");
}
@font-face{
	font-family:"Meta Offc W01 Normal Italic";
	src:url("../fonts/61638e93-dfc8-4d5a-bf18-51ba20be0e16.eot?#iefix");
	src:url("../fonts/61638e93-dfc8-4d5a-bf18-51ba20be0e16.eot?#iefix") format("eot"),url("../fonts/aa402bf1-804d-4f35-be91-e8c32fe36c47.woff2") format("woff2"),url("../fonts/cb1a6f35-bf8b-4c80-9d0d-21659bd4f65b.woff") format("woff"),url("../fonts/4652e743-6e86-4be2-a91f-1a3ae7efd458.ttf") format("truetype");
}
@font-face{
	font-family:"MetaCompPro-Bold W01 Regular";
	src:url("../fonts/ffa70b6d-1f49-44a8-a728-1869c881510f.eot?#iefix");
	src:url("../fonts/ffa70b6d-1f49-44a8-a728-1869c881510f.eot?#iefix") format("eot"),url("../fonts/94400875-1ce0-47f5-b278-c6ccfa287f52.woff2") format("woff2"),url("../fonts/3acf28fb-87d9-4146-b959-a0e26918dc14.woff") format("woff"),url("../fonts/a2e92583-d34d-4e2a-9b1b-ffa7a1ab4fb3.ttf") format("truetype");
}
@font-face{
	font-family:"MetaCompPro-BoldIta W011401225";
	src:url("../fonts/f307bc36-dbba-47dc-80d8-82135e57d587.eot?#iefix");
	src:url("../fonts/f307bc36-dbba-47dc-80d8-82135e57d587.eot?#iefix") format("eot"),url("../fonts/e7a9d7f4-9a37-4b7a-8f3a-05c2ca08f6cc.woff2") format("woff2"),url("../fonts/cf3a0634-c63e-40d5-8c88-cdfb32273f48.woff") format("woff"),url("../fonts/f9269485-154a-46af-9117-02a9d0835139.ttf") format("truetype");
}
@font-face{
	font-family:"MetaCompPro"; /* "MetaCompPro-Book W01 Regular";*/
	src:url("../fonts/90515b91-4492-4ddc-8dc4-3d2cb36e69ca.eot?#iefix");
	src:url("../fonts/90515b91-4492-4ddc-8dc4-3d2cb36e69ca.eot?#iefix") format("eot"),url("../fonts/3f228e48-0714-461a-ad7f-d9fa1382807a.woff2") format("woff2"),url("../fonts/20bf5e52-30ac-4a2b-9db7-1d7436e293bf.woff") format("woff"),url("../fonts/5f1eee24-a783-43d2-ad68-75604cc9f05b.ttf") format("truetype");
	font-weight: 100;
}
@font-face{
	font-family:"MetaCompPro"; /* "MetaCompPro-BookIta W011401253" */
	src:url("../fonts/fc4168dd-9e70-4e6d-8144-5f48999a1a58.eot?#iefix");
	src:url("../fonts/fc4168dd-9e70-4e6d-8144-5f48999a1a58.eot?#iefix") format("eot"),url("../fonts/ec32cc7a-e274-4f14-b252-17d82996168d.woff2") format("woff2"),url("../fonts/f5f3c78f-d4ab-4fab-9790-13c49774f530.woff") format("woff"),url("../fonts/b95bd492-a9af-40d7-a07f-971d33478599.ttf") format("truetype");
	font-style: italic;
}
@font-face{
	font-family:"MetaCompPro"; /* MetaCompPro-Medium W01 Regular */
	src:url("../fonts/f15314f0-3c01-4b0c-85f1-4fc823db8490.eot?#iefix");
	src:url("../fonts/f15314f0-3c01-4b0c-85f1-4fc823db8490.eot?#iefix") format("eot"),url("../fonts/bed27d2b-dc0b-42c8-b8f4-c337f9cf6684.woff2") format("woff2"),url("../fonts/0019971a-26fc-48c5-86d3-5cdddf826b3c.woff") format("woff"),url("../fonts/9d131884-57ab-4822-a405-ce035dd2bdcd.ttf") format("truetype");
	font-weight: 600;
}

//$serif: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
//$sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

$serif: MetaComPro, "MetaCompPro";
$sans-serif: MetaComPro, "MetaCompPro";


// Content
$content-width: 768px;
$block-margin: 20px;

// Grid
$grid: grid;
$grid-width: 1168px;
$grid-gap: 32px;
$base-margin: 16px;
$wrap_edge: $base-margin;
$margin_2x: $base-margin * 2;
$margin_4x: $base-margin * 4;

// Site Header
$logo_width: 300px;
$menu_width: $logo_width + $grid-gap;
$persistant_mobile: false; // 49px
$persistent_desktop: false; // 49px


// Include Media
$breakpoints: (
  'phone'  : 360px,
  'small'  : 768px,
  'tablet' : 768px, // required for include-media
  'mobile_menu' : 768px,
  'medium' : 992px,
  'large'  : 1200px,
  'desktop': $grid-width + $grid-gap, // required for include-media
  'content-width': $content-width + $grid-gap,
);

@import "../modules/helpers";
@import "../vendor/_include-media";
@import "../modules/base-styles";
