
            a.position.application:hover {
                border: 2px solid #dd9933;
                box-shadow: 0 0 0 0 #dd9933;
            }

            a.position.application .info .department {
                color: #dd9933;
            }


            
            a.position.corporate-development:hover {
                border: 2px solid #81d742;
                box-shadow: 0 0 0 0 #81d742;
            }

            a.position.corporate-development .info .department {
                color: #81d742;
            }


            
            a.position.customer-service:hover {
                border: 2px solid #8224e3;
                box-shadow: 0 0 0 0 #8224e3;
            }

            a.position.customer-service .info .department {
                color: #8224e3;
            }


            
            a.position.hr:hover {
                border: 2px solid #73ba5e;
                box-shadow: 0 0 0 0 #73ba5e;
            }

            a.position.hr .info .department {
                color: #73ba5e;
            }


            